/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/v16/.suo
/RemoteCtrl/.vs/RemoteCtrl/v16/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v16/ipch/2b173a3b4c993846.ipch
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
